
.main-button{
    padding: 2rem 5rem;
    margin-bottom: 1rem;
}



.home {
    padding-top:  15rem;
    text-align: center;
    overflow-x: hidden;
}

.home h1 {
    font-size: 7.5vw;
    color: var(--dark-blue);
}

.home img {
    width: 100%;
    margin: 1rem 0;
}

.pakkumised .vehicles_slider {
    padding-bottom: 5rem;
}

.pakkumised .vehicles_slider .box {
    text-align: center;
}

.pakkumised .vehicles_slider .box img {
    width: 100%;
    opacity: .5;
    transform: scale(.8);
}

.pakkumised .vehicles_slider .box .content {
    transform: scale(0);
    padding-top: 1rem;
}

.pakkumised .vehicles_slider .swiper-slide-active img{
    opacity: 1;
    transform: scale(1);
}

.pakkumised .vehicles_slider .swiper-slide-active .content {
    transform: scale(1);
}

.pakkumised .vehicles_slider .box .content h3 {
    font-size: 2.5rem;
    color: var(--dark-blue);
}

.pakkumised .vehicles_slider .box .content .price {
    font-size: 2.5rem;
    color: var(--dark-orange);
    padding:1rem 0;
    font-weight: bolder;
}

.pakkumised .vehicles_slider .box .content .price span {
    font-size: 1.7rem;
    color: var(--dark);
    font-weight: normal;
}


.pakkumised .vehicles_slider .box .content p {
    font-size: 1.6rem;
    padding: 1.5rem 1rem 1rem;
    border-top: var(--border);
    color: var(--dark);
}

.pakkumised .vehicles_slider .box .content p span {
    color: var(--logo-blue);
    font-size: .8rem;
    padding: 0 .5rem;
}

.swiper-pagination .swiper-pagination-bullet-active{
    background: var(--dark-orange);
}


.oksjonid .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 1.5rem;
}

.oksjonid .box-container .box {
    text-align: left;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--logo-blue) solid 2px;
    display: grid;
    grid-template-columns:  50% 50%;
    align-items: center;
}


.oksjonid .box-container .box img {
    grid-column-start: 1;
    grid-column-end: 2;
    object-fit: contain;
    grid-column: 1;
    width: 100%;
    max-width: 100%;
    min-width: 200px;
}


.oksjonid .box-container .box .sisu {
    height: 100%;
    padding-left: 2rem;
}

.oksjonid .box-container .box .sisu h3 {
    color: var(--dark-blue);
    font-size: 2.2rem;
}

.oksjonid .box-container .box .sisu .hind {
    font-size: 2.5rem;
    color: var(--logo-blue);
    padding:1rem 0;
    font-weight: bolder;
}

.oksjonid .box-container .box .sisu .hind span {
    font-size: 1.7rem;
    color: var(--dark);
    font-weight: normal;
}

.oksjonid .box-container .box .sisu .aeg {
    margin: 1.2rem 0;
}


.oksjonid .box-container .box .sisu .aeg .aja-tekst {
    font-size: 1.7rem;
    color: var(--dark);
    font-weight: normal;
}

.oksjonid .box-container .box .sisu .aeg .oksjon-pealkiri {
    font-weight: bold;
}

.oksjonid .box-container .box .sisu .aeg span {
    font-size: 2.5rem;
    color: var(--dark-orange);
    font-weight: bolder;
}



.teenused .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.teenused .box-container .box {
    text-align: center;
    padding: 2rem;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    display: table;
}

.teenused .box-container .box:hover {
    background: #F5F5F5;
    border-color: var(--logo-blue);
    border-width: .3rem;
    padding: 1.8rem;
}

.teenused .box-container .box i {
   height: 6rem;
    width: 6rem;
    line-height: 6rem;
    font-size: 2.5rem;
    color: var(--dark-blue);
    background: var(--orange);
    border-radius: 50%;
    margin-bottom: 1rem;
}

.teenused .box-container .box h3 {
    color: var(--dark-blue);
    font-size: 2.2rem;
}

.teenused .box-container .box p {
    color: rgb(50,50,50);
    font-size: 1.4rem;
    padding: 1rem 0;
    line-height: 1.8;
}

.teenused .box-container .box .button-wrapper {
    display: table-row;
}