.content-table {
  border-collapse: collapse;
  margin: 100px 0 25px 0;
  margin-left: 10%;
  font-size: 0.9em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px var(--logo-blue);
  width: 80%;
}

.content-table thead tr {
  background-color: var(--logo-blue);
  color: white;
  text-align: justify;
  font-weight: bold;
}

.content-table th,
.content-table td {
  padding: 25px 25px;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 0%;
}

.sub-table {
  margin-left:-15px;
}

th {
  padding: 50px;
  text-align: left;
  font-size: 25px;
  border-bottom: 1px solid #ddd;
}

td {
  padding:90px;
  text-align: left;
  font-style: italic;
  font-size: 18px;
  border-bottom: 1px solid #ddd;
}

.põhirida:hover {
  background: var(--orange);
}

.põhirida:hover td, .põhirida:hover td .sub-table td {
  color: white;
}

.bottom-text {
  margin-left: 10%;
  font-style: italic;
  font-size: 15px;
}